<button mat-stroked-button (click)="showDialog = true">Add users</button>

<stream-modal [(isOpen)]="showDialog">
  <mat-form-field>
    <mat-label>Search for user</mat-label>
    <input
      type="text"
      placeholder="Start To Type"
      matInput
      [formControl]="userSerchField"
      [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete (optionSelected)="addToChat($event)" #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let user of availableUsers$ | async" [value]="user.id">
      {{ user.name }}
    </mat-option>
  </mat-autocomplete>
</stream-modal>
