<app-new-channel (saved)="onCreate($event)"></app-new-channel>

<section class="chat" *ngIf="isChatReady$ | async; else unavailable">
  <div id="root">
    <stream-channel-list></stream-channel-list>
    <stream-channel>
      <stream-channel-header></stream-channel-header>
      <stream-message-list></stream-message-list>
      <stream-notification-list></stream-notification-list>
      <stream-message-input></stream-message-input>
    </stream-channel>
  </div>
</section>

<ng-template #unavailable>
  <div class="chat-notofication">Chat is not available...</div>
</ng-template>
